<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.chat.ChatMapper">
	<resultMap id="userResultMap"
		type="kr.co.sist.signup.UserDTO">
		<id property="userNo" column="user_no" />
		<result property="userId" column="user_id" />
		<result property="name" column="user_name"
			typeHandler="kr.co.sist.login.EncryptTypeHandler" />
		<result property="email" column="email"
			typeHandler="kr.co.sist.login.EncryptTypeHandler" />
		<result property="tel" column="phoneNumber"
			typeHandler="kr.co.sist.login.EncryptTypeHandler" />
	</resultMap>
	<resultMap id="chatRoomResultMap"
		type="kr.co.sist.chat.ChatRoomDTO">
		<result property="chatRoomNo" column="chatRoomNo" />
		<result property="chatRoomName" column="chatRoomName" />
		<result property="lastMessage" column="lastMessage" />
		<result property="lastTime" column="lastTime" />
		<result property="chattingNo" column="chattingNo" />
		<result property="content" column="content" />
		<result property="sendUser" column="sendUser" />

		<result property="sendUserName" column="sendUserName"
			typeHandler="kr.co.sist.login.EncryptTypeHandler" />
		<result property="sendDate" column="sendDate" />
	</resultMap>
	<!-- <select id="selectChatRoom" parameterType="String" resultMap="chatRoomResultMap"> 
		SELECT cr.chatroom_no AS chatRoomNo, cr.chatroom_name AS chatRoomName, (SELECT 
		content FROM ( SELECT content FROM chatting c WHERE c.chatroom_no = cr.chatroom_no 
		ORDER BY send_date DESC ) WHERE ROWNUM = 1) AS lastMessage, (SELECT CASE 
		WHEN TRUNC(send_date) = TRUNC(SYSDATE) THEN TO_CHAR(send_date, 'AM HH24:MI') 
		ELSE TO_CHAR(send_date, 'MM.DD') END FROM ( SELECT send_date FROM chatting 
		c WHERE c.chatroom_no = cr.chatroom_no ORDER BY send_date DESC ) WHERE ROWNUM 
		= 1) AS lastTime FROM CHATPARTICIPANT cp JOIN CHATROOM cr ON cp.chatroom_no 
		= cr.chatroom_no WHERE cp.participant_no = #{userNo, jdbcType=VARCHAR} </select> -->

	<select id="selectChatRoom" parameterType="String"
		resultMap="chatRoomResultMap">
		SELECT
		cr.chatroom_no AS chatRoomNo,
		cr.chatroom_name AS chatRoomName,
		(SELECT content
		FROM (
		SELECT content
		FROM chatting c
		WHERE c.chatroom_no = cr.chatroom_no
		ORDER BY c.send_date DESC
		)
		WHERE ROWNUM = 1
		) AS lastMessage,
		(SELECT
		CASE
		WHEN TRUNC(send_date) = TRUNC(SYSDATE)
		THEN TO_CHAR(send_date, 'AM HH24:MI')
		ELSE TO_CHAR(send_date, 'MM.DD')
		END
		FROM (
		SELECT send_date
		FROM chatting c
		WHERE c.chatroom_no = cr.chatroom_no
		ORDER BY c.send_date DESC
		)
		WHERE ROWNUM = 1
		) AS lastTime,

		(SELECT MAX(c.send_date)
		FROM chatting c
		WHERE c.chatroom_no = cr.chatroom_no
		) AS lastSendDate
		FROM CHATPARTICIPANT cp
		JOIN CHATROOM cr
		ON cp.chatroom_no = cr.chatroom_no
		WHERE cp.participant_no = #{userNo, jdbcType=VARCHAR}
		ORDER BY lastSendDate DESC NULLS LAST
	</select>

	<select id="selectMessageList" parameterType="String"
		resultMap="chatRoomResultMap">
		SELECT
		c.chatting_no AS chattingNo,
		c.content,
		c.send_user AS sendUser,
		TO_CHAR(c.send_date, 'AM HH:MI', 'NLS_DATE_LANGUAGE=KOREAN') AS sendDate,
		c.chatroom_no AS chatRoomNo,
		u.user_name AS sendUserName
		FROM chatting c
		LEFT JOIN users u ON c.send_user = u.user_no
		WHERE c.CHATROOM_NO = #{chatRoomNo, jdbcType=VARCHAR}
		ORDER BY c.SEND_DATE ASC
	</select>

	<insert id="insertMessage"
		parameterType="kr.co.sist.chat.ChatRoomDTO">
		insert into chatting(content, send_user,send_date,chatroom_no) values
		(#{content},#{sendUser},sysdate,#{chatRoomNo})
	</insert>

	<!-- <insert id="insertChatRoom" parameterType="kr.co.sist.chat.ChatRoomDTO"> 
		<selectKey keyProperty="chatRoomNo" resultType="string" order="BEFORE"> SELECT 
		'ROOM_' || SEQ_CHAT_ROOM.NEXTVAL FROM DUAL </selectKey> INSERT INTO CHATROOM 
		(chatroom_no, chatroom_name,input_date,user_no) VALUES (#{chatRoomNo}, #{chatRoomName},sysdate,#{userNo}) 
		</insert> -->
	<insert id="insertChatRoom"
		parameterType="kr.co.sist.chat.ChatRoomDTO">
		<selectKey keyProperty="chatRoomNo" resultType="string"
			order="BEFORE">
			SELECT 'CR' || LPAD(SEQ_CHAT_ROOM_NO.NEXTVAL, 6, '0') FROM DUAL
		</selectKey>
		INSERT INTO CHATROOM (chatroom_no, chatroom_name, input_date, user_no)
		VALUES (#{chatRoomNo}, #{chatRoomName}, SYSDATE, #{userNo})
	</insert>

	<insert id="insertChatParticipant" parameterType="java.util.Map">
		INSERT INTO CHATPARTICIPANT (chatroom_no, participant_no)
		VALUES (#{chatRoomNo}, #{userNo})
	</insert>

	<select id="selectSearchUser" parameterType="java.util.Map"
		resultType="kr.co.sist.chat.ChatRoomDTO">
		SELECT DISTINCT
		r.chatroom_no AS chatRoomNo,
		r.chatroom_name AS chatRoomName
		FROM chatroom r
		JOIN chatparticipant p1 ON r.chatroom_no = p1.chatroom_no
		JOIN chatparticipant p2 ON r.chatroom_no = p2.chatroom_no
		JOIN users u ON p2.participant_no = u.user_no
		WHERE p1.participant_no = #{userNo, jdbcType=VARCHAR}
		AND p2.participant_no != #{userNo, jdbcType=VARCHAR}
		AND u.company_no = #{companyNo}
		AND u.user_name LIKE '%' || #{keyword} || '%' OR r.chatroom_name LIKE '%'
		|| #{keyword} || '%'
	</select>

	<delete id="deleteChatParticipant" parameterType="java.util.Map">
		DELETE FROM CHATPARTICIPANT
		WHERE chatroom_no = #{chatRoomNo}
		AND participant_no = #{userNo}
	</delete>

</mapper>