<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.loginaudit.LoginLogMapper">

	<resultMap id="loginLogResultMap" type="kr.co.sist.loginaudit.LoginLogListDomain">
	    <result property="userName"
	            column="userName"
	            typeHandler="kr.co.sist.login.EncryptTypeHandler"/>
	    <result property="email"
	            column="email"
	            typeHandler="kr.co.sist.login.EncryptTypeHandler"/>
	</resultMap>
	
	<!-- 로그인로그 리스트 조회 -->
	<select id="selectAllLoginLog" parameterType="kr.co.sist.loginaudit.LoginLogSearchDTO" resultMap="loginLogResultMap">
		SELECT
		    l.LOG_NO AS logNo,
		    l.DESCRIPTION AS description,
		    l.LOGIN_IP AS loginIp,
		    l.CONNECTION_STATUS AS status,
		    u.USER_NAME AS userName,
		    u.EMAIL AS email,
		    l.INPUT_DATE AS inputDate
		FROM LOGINLOG l
		LEFT JOIN USERS u
		       ON l.USER_NO = u.USER_NO
	    <where>
	        AND u.COMPANY_NO = #{companyNo}
	        <if test="startDate != null and startDate != ''">
	            AND l.INPUT_DATE &gt;= TO_DATE(#{startDate}, 'YYYY-MM-DD')
	        </if>
	        <if test="endDate != null and endDate != ''">
	            AND l.INPUT_DATE &lt; TO_DATE(#{endDate}, 'YYYY-MM-DD') + 1
	        </if>
	        <if test="loginIp != null and loginIp != ''">
	            AND l.LOGIN_IP LIKE '%' || #{loginIp} || '%'
	        </if>
	        <if test="userName != null and userName != ''">
			    AND u.USER_NAME = #{userName, typeHandler=kr.co.sist.login.EncryptTypeHandler}
			</if>
	    </where>
	    ORDER BY l.INPUT_DATE DESC
	</select>

</mapper>